.gallery__container {
  max-width: 74.44rem;
  display: grid;
  grid-template-areas:
    "area-two"
    "area-one"
    "area-three"
    "area-four"
    "area-five";

  padding: 0 1rem;
  margin: 0 auto 7.38rem auto;
}

@media (min-width: 43.75rem) {
  .gallery__container {
    grid-template-areas:
      "area-one area-two area-two"
      "area-three area-three area-four"
      "area-three area-three area-five";
    gap: 0.69rem;

    padding: 0 2.5rem;
    margin-bottom: 7.31rem;
  }
}

@media (min-width: 68.75em) {
  .gallery__container {
    gap: 1.88rem;

    margin-bottom: 11.06rem;
  }
}
